<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>ReefBuilder Tools</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="logo">
            <div class="logo-top">REEFBUILDER TOOLS</div>
        </div>
        <nav>
            <a href="/signin">Sign in</a>
            <a href="#">Sign up</a>
        </nav>
    </header>
    
    <main>
        <h1>Welcome back to ReefBuilder Tools</h1>
        
        <form class="signin-form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            
            <div class="group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            
            <div class="options">
                <div class="remember-me">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Remember me</label>
                </div>
                <a href="#" class="forgot-password">Forgot password?</a>
            </div>
            
            <button type="submit" class="signin-button">Sign In</button>
    </main>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
