<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="This is where your description goes">
    <meta name="keywords" content="one, two, three">

    <title>My Reef Tree</title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="logo">
        <div class="logo-top">My Reef Tree</div>
    </div>
    <nav>
        <a href="/login">Log In</a>
        <a href="/register">Register</a>
    </nav>
    </header>

    <main>
        <h1>Plan Your Reef. Track Your Growth.</h1>

        <div class="search-container">
            <a href="/register"><button class="get-started-button">Get Started</button></a>
        </div>
    </main>
    <div id="footer">
		<ul class="copyright">
			<li>&copy; Untitled. All rights reserved.</li>
			<li><a href="https://wwww.azeezolaosebikan.com">Contact</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
		</ul>
	</div>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>