<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="This is where your description goes">
    <meta name="keywords" content="one, two, three">

    <title>My Reef Tree</title>

    <!-- external CSS link -->

    <link href="/css/output.css" rel="stylesheet">
</head>

<body class="bg-main-light">
    <header>
    <div class="logo">
        <div class="logo-top"><a href="/">My Reef Tree</a></div>
    </div>
    <nav>
        <a href="/login">Log In</a>
        <a href="/register">Register</a>
    </nav>
    </header>

    <main>
        <h1 class="text-3xl font-bold underline">Plan Your Reef. Track Your Growth.</h1>

        <div class="welcome">
            <a href="/login"><button class="btn btn-dash">Get Started</button></a>
        </div>
    </main>
    <div id="footer">
		<ul class="copyright">
			<li>&copy; Untitled. All rights reserved.</li>
			<li><a href="https://wwww.azeezolaosebikan.com">Contact</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
		</ul>
	</div>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>