<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="This is where your description goes">
    <meta name="keywords" content="one, two, three">

    <title>My Reef Tree</title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="logo">
        <div class="logo-top">My Reef Tree</div>
    </div>
    <nav>
        <a href="/login">Log in</a>
        <a href="/register">Register</a>
        <a href="/">Home</a>
    </nav>
    </header>

    <main>
        <h1>Welcome back to My Reef Tree</h1>

        <form class="login-form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>

            <div class="form-options">
                <div class="remember-me">
                    <input type="checkbox" id="remember" name="remember">
                    <label for="remember">Remember me</label>
                </div>
                <a href="#" class="forgot-password">Forgot password?</a>
            </div>

            <button type="submit" class="login-button">Log In</button>

            <div class="register">
                Don't have an account? <a href="/register">Register</a>
            </div>
        </form>
    </main>
    <div id="footer">
		<ul class="copyright">
			<li>&copy; Untitled. All rights reserved.</li>
			<li><a href="https://wwww.azeezolaosebikan.com">Contact</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
		</ul>
	</div>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>