<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="This is where your description goes">
    <meta name="keywords" content="one, two, three">

    <title>My Reef Tree</title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header>
    <div class="logo">
        <div class="logo-top">My Reef Tree</div>
    </div>
    <nav>
        <a href="/login">Log in</a>
        <a href="/register">Register</a>
        <a href="/">Home</a>
        <a href="/profile">Profile</a>
    </nav>
    </header>

    <main>
        <h1>Welcome back to My Reef Tree</h1>

        <form class="login-form">
            <h2>Log In</h2>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>
            <button type="submit" class="login-button">Login</button>

            <div class="form-options">
                <a href="#" class="forgot-password">Forgot password?</a>
            </div>


        </form>
        <div class="register">
            Don't have an account? <a href="/register"><button class="register">Register</button></a>
        </div>
    </main>

    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>