<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="This is where your description goes">
    <meta name="keywords" content="one, two, three">

    <title>My Reef Tree</title>

    <!-- external CSS link -->
    <link href="/css/output.css" rel="stylesheet">

</head>

<body>
    <header>
    <div class="logo">
        <div class="logo-top"><a href="/">My Reef Tree</a></div>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="#">Sign out</a>
    </nav>
    </header>
    <h1>My build</h1>
    <main>
        
    </main>
    <div id="footer">
		<ul class="copyright">
			<li>&copy; Untitled. All rights reserved.</li>
			<li><a href="https://wwww.azeezolaosebikan.com">Contact</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
		</ul>
	</div>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>