<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="This is where your description goes">
    <meta name="keywords" content="one, two, three">

    <title>My Reef Tree</title>

    <!-- external CSS link -->
    <link href="/css/output.css" rel="stylesheet">

</head>

<body class="profile">
     <!-- Navbar -->
     <header class="bg-base-100 shadow-sm">
        <div class="navbar container mx-auto px-4">
            <div class="flex-1">
                <a href="/" class="text-xl font-bold">My Reef Tree</a>
            </div>
            <div class="flex-none">
                <ul class="menu menu-horizontal px-1">
                    <li><a href="/login" class="btn btn-ghost">Log In</a></li>
                    <li><a href="/register" class="btn btn-primary">Register</a></li>
                </ul>
            </div>
        </div>
    </header>
    <main className="bg-accent">
        
    </main>
    <div id="footer">
        <ul class="copyright">
            <li>&copy; Untitled. All rights reserved.</li>
            <li><a href="https://wwww.azeezolaosebikan.com">Contact</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/build">Builds</a></li>
        </ul>
    </div>
    <script type="text/javascript" src="/js/main.js"></script>
</body>

</html>