<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="This is where your description goes">
    <meta name="keywords" content="one, two, three">

    <title>My Reef Tree</title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="logo">
        <div class="logo-top">My Reef Tree</div>
    </div>
    <nav>
        <a href="/login">Log In</a>
        <a href="/register">Register</a>
        <a href="/">Home</a>
    </nav>
    </header>

    <main>
        <h1>Welcome to My Reef Tree</h1>

        <form class="register-form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>

            <button type="submit" class="register-button">Register</button>

            <div class="login">
                Already have an account? <a href="/login">Log In</a>
            </div>
        </form>
    </main>
    <div id="footer">
		<ul class="copyright">
			<li>&copy; Untitled. All rights reserved.</li>
			<li><a href="https://wwww.azeezolaosebikan.com">Contact</a></li>
			<li><a href="/login">Login</a></li>
			<li><a href="/register">Register</a></li>
		</ul>
	</div>
    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>