<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="This is where your description goes">
    <meta name="keywords" content="one, two, three">

    <title>My Reef Tree</title>

    <!-- external CSS link -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="logo">
        <div class="logo-top">My Reef Tree</div>
    </div>
    <nav>
        <a href="/signin">Sign in</a>
        <a href="/signup">Sign up</a>
    </nav>
    </header>

    <main>
        <h1>Welcome to My Reef Tree</h1>

        <form class="signup-form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter your password" required>
            </div>

            <button type="submit" class="signup-button">Sign Up</button>

            <div class="signin">
                Already have an account? <a href="/signin">Sign In</a>
            </div>
        </form>
    </main>

    <script type="text/javascript" src="js/main.js"></script>
</body>

</html>