/******************************************
/* CSS
/*******************************************/
@import 'tailwindcss';

@plugin "daisyui";


/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/
.profile{
  background-color: #88C9BF;
  }

/* body {

  color: #003366;
  display: flex;
  flex-direction: column;
  min-height: 100em;
}

 header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}



nav a {
  text-decoration: none;
  color: #003366;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 4px;
}

nav a:hover {
  background-color: rgba(0, 51, 102, 0.1);
}


h1 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #0066cc;
}

.welcome {
  width: 100%;
  max-width: 600px;
  position: relative;
} */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  text-align: center;
}
.logo {
  display: flex;
  flex-direction: column;
}

.logo-top {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
}


nav {
  display: flex;
  gap: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
  flex-direction: row;
}

header li a{
display: block;

}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.landing{
background-color: #88C9BF;
}
.form-text{
  color: white;
}

    .bg-primary {
      background-color: #0A2463;
    }
    
    .bg-secondary {
      background-color: #FF6B6B;
    }
    .bg-accent {
      background-color: #F5F0E6;
    }
    .bg-sea {
      background-color: #88C9BF;
    }

    